@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
    <link rel="stylesheet" href="~/css/Login.css" />


    <div class="container login-container">
        <div class="row">
            <div class="col-md-5 ads">
                <h1><span id="fl">Sistema</span><span id="sl"></span></h1>
            </div>
            <div class="col-md-7 login-form">
                
                    <form id="account" method="post">
                        <h4>Iniciar sesión</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input type="text" asp-for="Input.Email" class="form-control" placeholder="Correo Electronico"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input type="password" asp-for="Input.Password" class="form-control" placeholder="Contraseña"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-black btn-lg btn-block">Iniciar</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </form>
               
            </div>
        </div>
        </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
